.main {

}


.faqs{
    margin: 5rem 2rem;
    font: 100% Helvetica,
    sans-serif;
    color: rgb(113, 16, 192);
    background-color: rgb(12, 12, 12);
}

.body{
    background-color: hsl(226, 23%, 78%)
}
